@model IEnumerable<Domein.Book>

@{
    ViewBag.Title = "Index";
}  

<h2>Read all the books</h2>
<br />
<hr />
<p>
@if (User.Identity.IsAuthenticated)
{
    <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        @Html.ActionLink(" Create New", "Create")
    </button>
}
</p>


@{if (User.Identity.IsAuthenticated)
    {
<table class="table">
    <tr>
        <th style="width:30%;">
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>       
    </tr>

    
@foreach (var item in Model)
{
    <tr>
        <td>
            @if (item.Picture != null)
            {
             <img src="data:image/png;base64,@Convert.ToBase64String(item.Picture)" , style="width:30%;" class="img-thumbnail"/>
            }
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @{
                decimal telcode = item.Country.Tel_Code;
                telcode += item.Price;
             }
            @Html.DisplayFor(Model => telcode) $
        </td>        
        <td>
           @if (User.Identity.IsAuthenticated)
           {
            @Html.ActionLink("Edit |", "Edit", new { id = item.BookID })
            @Html.ActionLink(" Delete |", "Delete", new { id = item.BookID })
           }
            @Html.ActionLink(" Details", "Details", new { id = item.BookID })           
        </td>
    </tr>
                }
</table>
                }
else
{

    <div class="myCass-ForBookDiv">
        @foreach (var item in Model)
        {
            <div>
                <a href="@Url.Action("Details","Books", new { id = item.BookID })" class="port">
                   
                        @if (item.Picture != null)
                        {
                            <img src="data:image/png;base64,@Convert.ToBase64String(item.Picture)" , style="width:50%;" class="img-thumbnail" />
                        }
                        <p>  @Html.DisplayFor(modelItem => item.Title)</p>                    
                </a>
            </div>
        }
       
    </div>
   

}
}

