@model IEnumerable<Domein.Book>

@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/angular.min.js"></script>

<div ng-app="myApp" ng-controller="myCntrl">
    </br>

    <table>
        <tr>
            <td>Search
                <input type="text" ng-model="search[searchBy]" />
            </td>
            <td>            
        </tr>
    </table>

    <br/>

    <table class="table">

        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>  
        
        <tr ng-repeat="b in BooksList | filter:search">
            <td>
                <img src="~/Picture/{{b.Picture}}" style="width:30%;" class="img-thumbnail" />
            </td>
            <td>
                {{b.Title}}
            </td>
            <td style="color:lawngreen;">               
                {{b.Price + b.Tel_Code}} $
            </td>
        
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <a data-ng-href="@Url.Action("Edit", "Books")/{{b.BookID}}" >Edit  </a>
                    <a data-ng-href="@Url.Action("Delete", "Books")/{{b.BookID}}">Delete  </a>
                }
                <a data-ng-href="@Url.Action("Details", "Books")/{{b.BookID}}">Details  </a>                
            </td>           
         </tr>        
    </table>
</div>
           

 <script>
        var app = angular.module("myApp", []);

        app.controller("myCntrl", function ($scope, myService) {

        GetAllEmployees();
        $scope.search = {};
        $scope.searchBy = 'Title';
        //For sorting according to columns
        $scope.sort = function (keyname) {
            $scope.sortKey = keyname;
            $scope.reverse = !$scope.reverse;
        }

        //To Get All Records  
        function GetAllEmployees() {
            var getData = myService.getEmployees();

                getData.then(function (emp) {
                $scope.BooksList = emp.data;
            }, function (emp) {
                alert("Records gathering failed!");
            });
        }
    });

    app.service("myService", function ($http) {

        //get All Employee
        this.getEmployees = function () {
            return $http.get("/Home/getAll");
        };
    });
</script>